<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Simple MOOC - Uma simples plataforma de ensino a distância" />
    <title>Simple MOOC</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
<div class="content">
    <div class="header">
        <div class="pure-menu pure-menu-open pure-menu-fixed pure-menu-horizontal">
            <a class="pure-menu-heading" href="">inCHURCH</a>
            <ul>
                <li class="pure-menu-selected"><a href="../../#">Home</a></li>
                <li><a href="../../departments">Departments</a></li>
                <li><a href="../login">Login</a></li>
                <li><a href="../../admin">Admin</a></li>
            </ul>
        </div>
    </div>
    <div class="splash">
        <div class="pure-g-r">
            <div class="pure-u-1">
                <div class="l-box splash-text">
                    <h1 class="splash-head">
                        inChurch Recruitment Process 2018 - Backend Developer
                    </h1>
                    <h2 class="splash-subhead">
                        Login
                    </h2>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="content">
<!-- templates/registration/login.html -->
{% block content %}
<div class="pure-g-r content-ribbon">
    <div class="pure-u-1">
        <h2>Informe seus dados de cadastro</h2>
<form class="pure-form pure-form-stacked" method="post">
	<div class="pure-control-group">
  {% csrf_token %}
  {{ form.as_p }}
  	</div>
  <button type="submit" class="pure-button pure-button-primary">Login</button>
  				<p>
                    Não é cadastrado? <a href="../signup" title="">Cadastre-se</a> <br />
                    Esqueceu a senha? <a href="../password_reset" title="">Nova senha</a> <br />
                </p>
</form>
</div>
</div>
{% endblock %}
<div class="footer">
        Bianca de Meira Lopes - Rio de Janeiro. RJ
    </div>
</div>
<script src="http://yui.yahooapis.com/3.12.0/build/yui/yui-min.js"></script>
</body>
</html>